<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/admincategories.css">
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <a href="/adminHome" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </li>
          </a>
          <a href="/adminProduct" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">inventory_2</span> Products
            </li>
          </a>
          <a href="/adminCategories" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">category</span> Categories
            </li>
          </a>
          <a href="/adminCustomers" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">groups</span> Customers
            </li>
          </a>
          <a href="/adminBanner" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">fact_check</span> Banner
            </li>
          </a>
          <a href="/adminCoupon" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">poll</span> Coupon
            </li>
          </a>
          <a href="/adminLogout" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">settings</span> LogOut
            </li>
          </a>
        </ul>
      </aside>


      
      <div class="container">
        <div class="button-space">
          <a href="/addCategories"><div class="button">Add category</div></a>
        </div>
        <div class="table-space">
        <table class="table">
          <thead>
            <tr>
              <th>Category</th>
              <th>Subcategory</th>
              <th>Image</th>
              <th>Edit</th>
              <th>delete</th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach(category => { %>
              <tr>
                <td><%= category.categoryName %></td>
                <td><%= category.subcategoryName %></td>
                <td><img src ="/image/<%= category.categoryImage %>" alt=" category.categoryName %>" style="max-width: 80px;  "</td>
                <td><a href="/editCategories/<%=category._id%>"><button><i class="fa-regular fa-pen-to-square"></i></button></a></td>
                <td><a href="/deleteCategories/<%=category._id%>"><button><i class="fa-solid fa-trash"></i></i></button></a></td>
              </tr>

            <%});%>
          </tbody>
        </table>
      </div>
      </div>
     

    
    

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="js/scripts.js"></script> 
  </body>
</html>