<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin/adminproduct.css">
    
  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <a href="/adminHome" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </li>
          </a>
          <a href="/adminProduct" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">inventory_2</span> Products
            </li>
          </a>
          <a href="/adminCategories" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">category</span> Categories
            </li>
          </a>
          <a href="/adminCustomers" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">groups</span> Customers
            </li>
          </a>
          <a href="/adminBanner" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">fact_check</span> Banner
            </li>
          </a>
          <a href="/adminCoupon" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">poll</span> Coupon
            </li>
          </a>
          <a href="/adminLogout" class="side-bar-link">
          <li class="sidebar-list-item">
              <span class="material-icons-outlined">settings</span> LogOut
            </li>
          </a>
        </ul>
      </aside>
      <div class="addProductContent">
        <a href="/addProduct">
          <div class="product-button-space">
            
            <div class="product-button"><h2 class="text">Add Product</h2></div>
          </div>
        </a>
        <h1>Product List</h1>
        <div class="table-space">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>price</th>
              <th>Discount</th>
              <th>Discounted</th>
              <th>Quantity</th>
              <th>size</th>
              <th>Image</th>
              <th>Status</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach(product => { %>
              <tr>
                <td><%= product.productName %></td>
                <td><%= product.productDescription %></td>
                <td><%= product.productPrice %></td>
                <td><%= product.productDiscount %></td>
                <td><%= product.productDiscounted %></td>
                <td><%= product.productQuantity %></td>
                <td><%= product.productSize %></td>
                <td><img src ="/image/<%= product.productImage %>" alt=" product.productName %>" style="max-width: 80px;  "</td>
                <td></td>
                <td><a href="/editProduct/<%=product._id%>"><button><i class="fa-regular fa-pen-to-square"></i></button></a></td>
                <td><a href="/deleteProduct/<%=product._id%>"><button><i class="fa-solid fa-trash"></i></button></a></td>
              </tr>
            <%});%>
          </tbody>
        </table>
      </div>
      </div>
    
  </body>
</html>